{% extends "FungioTwoFactorBundle::layout.html.twig" %}

{% trans_default_domain 'FungioTwoFactorBundle' %}
{% form_theme form with ['bootstrap_3_layout.html.twig', '@FungioTwoFactor/fields.html.twig'] %}
{% block title %}{{ 'check_code.title'|trans }}{% endblock %}

{% block body %}
    <div class="fungio fungio-wrapper container">
        <div class="fungio fungio-login-container">
            <div class="login-box">
                <div class="login-box-header">
                    <h3>
                        <img src="{{ asset('bundles/fungiotwofactor/images/2fas_small.png') }}" alt="2FAS logo">
                        <span>{{ 'form.code.label'|trans }}</span>
                    </h3>
                </div>
                <div class="login-box-body">
                    {{ form_start(form, {'action': path('fungio_check')}) }}
                    {{ form_row(form._token) }}
                    {{ form_widget(form.code, {'attr' : {'class': 'input-token'}}) }}
                    {{ form_errors(form.code) }}
                    {{ form_row(form.remember_two_factor) }}
                    {{ form_row(form.auth_id) }}
                    {{ form_row(form.submit, {'label' : 'form.code.login_button'|trans, 'attr': {'class': 'fungio-button btn-success pull-right'}}) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
