{% extends "@FungioTwoFactor/layout.html.twig" %}

{% trans_default_domain 'FungioTwoFactorBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'configure.totp.title'|trans }}{% endblock %}

{% block body %}
    <div class="fungio-wrapper container">
        <div class="fungio-header page-header">
            <h1>
                <img src="{{ asset('bundles/fungiotwofactor/images/2fas.png') }}" alt="2FAS logo"/>
                <span>2FAS - Two Factor Authentication Service</span>
            </h1>
        </div>
        <div class="fungio-container">
            <h3>{{ 'configure.totp.header'|trans }}</h3>
        </div>
        <div class="fungio-container fungio-step">
            <h3>{{ 'configure.totp.step_1.header'|trans }}</h3>
            <div class="fungio-center">
                <div class="fungio-step-desc">
                    <p>{{ 'configure.totp.step_1.content'|trans }}</p>
                    <p>{{ 'configure.totp.step_1.content2'|trans }}</p>
                </div>
                <div class="fungio-totp-apps">
                    <h4>2FAS Auth</h4>
                    <div class="fungio-totp-app">
                        <div class="fungio-app-description">
                            <div class="fungio-app-desc-text">
                                <a href="https://play.google.com/store/apps/details?id=com.fungioapp" target="_blank">
                                    <img src="{{ asset('bundles/fungiotwofactor/images/android.png') }}" alt="Download on Google Android">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="fungio-totp-app">
                        <div class="fungio-app-description">
                            <div class="fungio-app-desc-text">
                                <a href="https://itunes.apple.com/us/app/2fas-auth/id1217793794?mt=8" target="_blank">
                                    <img src="{{ asset('bundles/fungiotwofactor/images/apple.png') }}" alt="Download on the App Store">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fungio-container fungio-step">
            <h3>{{ 'configure.totp.step_2.header'|trans }}</h3>
            <div class="fungio-center">
                <div class="fungio-step-desc">
                    <p>{{ 'configure.totp.step_2.content'|trans }}</p>
                </div>
                <div class="fungio-totp-qrcode">
                    {{ render(controller('FungioTwoFactorBundle:GenerateQrCode:generate',
                    {
                        'totpSecret' : totp_secret,
                        'mobileSecret' : mobile_secret
                    }
                    )) }}
                </div>
                <div class="fungio-totp-qrcode-buttons">
                    <button class="fungio-button btn btn-default" id="fungio-totp-enter-btn">
                        <span>
                            {{ 'configure.totp.step_2.enter_button'|trans }}
                        </span>
                    </button>
                    <button class="fungio-button btn btn-default" id="fungio-totp-reload-btn">
                        <span>
                            {{ 'configure.totp.step_2.reload_button'|trans }}
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="fungio-container fungio-step">
            <h3>{{ 'configure.totp.step_3.header'|trans }}</h3>
            <div class="fungio-center">
                {{ form_start(form, {'action': path('fungio_configure_totp'), 'attr' : {'class': 'form-inline'} }) }}
                {{ form_row(form._token) }}
                {{ form_row(form.code, {'attr' : {'class': 'input-token'}}) }}
                {{ form_widget(form.totp_secret, {'id' : 'totp-secret', 'value' : totp_secret}) }}
                {{ form_row(form.submit, {'label' : 'form.code.enable_button'|trans}) }}
                {{ form_errors(form.totp_secret) }}
                {{ form_end(form,{'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
